*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  overflow:hidden;
}

/* input */
.input-field{

  width:100%;

  padding:14px;

  margin:12px 0;

  border-radius:10px;

  border:none;

  outline:none;

  font-size:15px;

  background: rgba(255,255,255,0.2);

  color:white;

  transition:0.3s;

}

.input-field::placeholder{
  color:#e0e0e0;
}

.input-field:focus{

  background: rgba(255,255,255,0.3);

  transform: scale(1.02);

}

/* button */
.login-btn{

  width:100%;

  padding:14px;

  margin-top:15px;

  border:none;

  border-radius:10px;

  font-size:16px;

  font-weight:bold;

  cursor:pointer;

  background: linear-gradient(135deg, #43e97b, #38f9d7);

  color:#000;

  transition:0.3s;

}

/* hover effect */
.login-btn:hover{

  transform: scale(1.05);

  box-shadow: 0 5px 20px rgba(0,0,0,0.3);

}